#select-point-canvas {
  position:absolute;
  left:0;
  top:0;
  background-color:#000000;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

#select-point-canvas-holder {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

#hide-select-point-button {
  top: 5px;
  left: 5px;
  position: absolute;
}

#select-point-to-place-holder {
  color:#ffffff;
  position:absolute;
  width:200px;
  right:5px;
  top:5px;
}


body {
  margin: 0;
  padding 0;
  background-color: #dddddd;
}

#modal-response-area {
  text-align: center;
}

.custom-modal {
    width: 70%; /* either % (e.g. 60%) or px (400px) */
}

.modal-body {
  height:400px;
}

#three-drawer {
  background-color:red;
  margin:0;
  margin-top:400px;
  margin-left:400px;
  padding: 0;
  width: 400px;
  height: 400px;
}
